<div class="row text-center">
    <div class="col d-flex justify-content-end ">
        <form asp-controller="Home" asp-action="Index" method="get">
            <button class="btn btn-link">Productos</button>
        </form>
    </div>
    <div class="col d-flex justify-content-start ">
        <form asp-controller="Home" asp-action="ViewCategorias" method="get">
            <button class="btn btn-link">Categorias</button>
        </form>
    </div>
</div>