<div class="container">
    <div class="row">
        @await Html.PartialAsync("Partials/_Menu")
    </div>
    <div class="row">
        @await Html.PartialAsync("Partials/_NewCategory")
        @await Html.PartialAsync("Partials/_AllCategories")
    </div>
</div>