@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @await Html.PartialAsync("Partials/_Menu")
    <div class="row">
        @await Html.PartialAsync("Partials/_NewProduct")
        @await Html.PartialAsync("Partials/_AllProducts")
    </div>
</div>